@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@400;700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
}

ul li{
    padding: 0 10px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

.logo img{
    width: 40px;
}

.container{
   position: relative;
   background-color: white;
}

.playlist-banner{
    background-image: url('https://images.unsplash.com/photo-1504509546545-e000b4a62425?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    height: 330px;
    background-position: center;
}

.song-list{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.songItem{
    flex-basis: 10%;
    margin-bottom: 40px;
    height: 220px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.songItem img{
    width: 150px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.songItem .span{
    font-size: 2em;
}

.songItem i{
    padding-top: 14px;
    cursor: pointer;
}

.bottom{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    bottom: 0;
}

.icons{
    margin-bottom: 10px;
}

.icons i{
    cursor: pointer;
    padding: 3px;
} 

#songCoverImg{
    position: absolute;
    left: 5vw;
    width: 60px;
    border: 2px solid white;
}

#songNameDisplay{
    position: absolute;
    left: 10vw;
}

#songProgressBar{
    width: 70vh;
    cursor: pointer;
}


/* Small and medium devices (portrait & landscape tablets, large phones, 900px and down) */
@media only screen and (max-width: 900px) {
    .song-list{
        max-width: 650px;
        margin: auto;
        margin-top: 40px;
    }

    .songItem{
        flex-basis: 20%;
        margin-bottom: 30px;
    }

    .playlist-banner{
        height: 200px;
        background-size: cover;
        background-position: top;
    }

    .bottom{
        height: 120px;
    }
    
    #songCoverImg{
        left: 7vw;
        width: 50px;
    }
    
    #songNameDisplay{
        position: static;
    }
    
    #songProgressBar{
        width: 50vw;
        cursor: pointer;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .songItem{
        flex-basis: 35%;
        margin-bottom: 30px;
        height: 200px;
        padding: 15px;
    }

    .songName{
        font-size: 13px;
    }
    
    .songItem img{
        width: 130px;
    }

    .songItem i{
        padding-top: 10px;
    }
}
