@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@400;700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    list-style-type: none;
}

ul li{
    padding: 0 10px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

.logo img{
    width: 40px;
}

.container{
   position: relative;
   background-color: white;
}

.playlist-banner{
    background-image: url('https://images.unsplash.com/photo-1504509546545-e000b4a62425?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    height: 330px;
    background-position: center;
}

.song-list{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    box-sizing: border-box;
}

.songItem{
    width: 150px;
    height: 220px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.songItem img{
    width: 150px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.songItem .span{
    font-size: 2em;
}

.songItem i{
    padding-top: 14px;
    cursor: pointer;
}

.bottom{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    bottom: 0;
}

.icons{
    margin-bottom: 10px;
}

.icons i{
    cursor: pointer;
    padding: 3px;
} 

#songCoverImg{
    position: absolute;
    left: 5vw;
    width: 60px;
    border: 2px solid white;
}

#songNameDisplay{
    position: absolute;
    left: 10vw;
}

#songProgressBar{
    width: 70vh;
    cursor: pointer;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 575px) {

    .playlist-banner{
        height: 200px;
        background-size: cover;
        background-position: top;
    }

    .song-list{
        width: 90%;
        padding: 10px;
        margin: 0px auto;
    }
    
    .songItem{
        width: 140px;
        height: 215px;
        padding: 10px;
        margin: 10px;
    }
    
    .songItem img{
        width: 140px;
    }
    
    .songItem span{
        font-size: 0.8em;
    }
    
    .bottom{
        height: 120px;
    }
    
    #songCoverImg{
        left: 7vw;
        width: 50px;
    }
    
    #songNameDisplay{
        position: static;
    }
    
    #songProgressBar{
        width: 50vw;
        cursor: pointer;
    }
} 

@media only screen and (max-width: 1200px) {
    
    .bottom{
        height: 120px;
    }
    
    #songCoverImg{
        left: 7vw;
        width: 50px;
    }
    
    #songCoverImg{
        left: 5vw;
        width: 60px;
    }

    #songNameDisplay{
        position: static;
    }
    
    #songProgressBar{
        width: 60vw;
        cursor: pointer;
    }
} 

@media only screen and (min-width: 1100px) and (max-width: 1360px) {
    .song-list{
        width: 60%;
    }
}

@media only screen and (min-width: 1600px) {
    .song-list{
        width: 60%;
    }
}

